#para1{
        color:cornflowerblue;
        font-size: 25px
      } 
#para2{
        color:brown;
        font-size: 25px
      }
button{
        background: greenyellow;
        color:honeydew;
        font-size: 25px
       }
.content{
            color:indigo;
            font-size: 25px
        }